body{
    background-color: rgb(194, 186, 186);
    font-family: serif;
    font-size: large;
}

.cep{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal{
    display: flexbox;
    margin: 75px;
    padding: 150px 575px;
    align-items: center;
    justify-content: center;
    width: min-content
}
